body{
  font-family: Avenir, "Helvetica Neue", sans-serif;
  color: #333332;
}
a {
  color: #0074d9;
  outline:none
}
@media (min-width:72rem){
  body{
    font-size: 20px;
  }
}
a, a:link, a:visited{
  text-decoration: none ;
  color: #333332;
}
h1{
  text-decoration: none ;

}
.head1 a{
  color: white;
}

.head1{
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-top: 6.5rem;
  margin-bottom: 1.625rem; 
  color: white;
}
.nav{
}

.nav .button-text{
  padding-top: 17px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.nav a:hover{
  opacity:0.8;
  background-color: grey;
}



.article li{
  padding: 5rem 1px;
  border-radius: 1em;
  text-align: center;
  background-color: blue;
}

.footer{
  text-align: center;
}
.foot_background{
  background-color: gray;
  margin: 2rem 1rem;
  border-radius: 1rem;
  padding: 1rem 1px;
  color: white;
  opacity: 0.8;
}
table{
  width: 100%;
  font-size: 0.8rem;
}
th, td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
}
tr:hover {
  background-color: #f5f5f5;
}

.content-list{
  list-style-type: none;
  background-color: #f1f1f1;
  overflow: auto;
  margin: 0.5rem auto;
}

.content-list li  {
  margin: 0.5rem auto;
  padding: 0.25rem;
  width: 100%;
}

.content-list li a {
  display: block;
  padding: 0.25rem;
  
  
}

.content-list li a.active {
  background-color: #4CAF50;
  color: white;
}

.content-list li a:hover{
  background-color: #555;
  color: white;
}