*{
    box-sizing: border-box;
  }

body{
    margin: 0px;
}
.row {
    display: grid;
    grid-template-rows: 300 1fr 50px;
    grid-gap: 20px;
    
}

.header {
    display: grid;
    grid-template-rows: 250px 50px;
    padding: 0 50px;

}

.nav {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4,minmax(30px,auto));
    grid-column-gap: 10px;
}

.article{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
}

ul .span2{
    grid-column-end: span 2;
}

ul .span3{
    grid-column-end: span 3;
}

ul .span4{
    grid-column-end: span 4;
}

ul .spanall{
    grid-column-start: 1;
    grid-column-end: -1;
}

.body{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-gap: 30px;
}
.footer {

}
.content {
    padding: 5px 50px;
}
.sidebar {

}
